button {
    display: block;
    background-image: url('../assets/seed.png');
    background-size: 100%;
    width: 150px;
    height: 150px;
    align-self: center;
    margin-top: 25px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    padding-top: 110px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    transition: padding-top 0.3s, width 0.3s, height 0.3s, font-size 0.3s, color 0.3s;
}

button:hover {
    color: #fff;
    padding-top: 130px;
    font-size: 1.05em;
    width: 175px;
    height: 175px;
}