.createTaskButton {
    display: block;
    background-image: url('../assets/seed.png');
    background-size: 100%;
    width: 250px;
    height: 200px;
    align-self: center;
    margin-top: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 0px;
    transition: padding-top 0.3s, width 0.3s, height 0.3s, font-size 0.3s, color 0.3s;
}

.createTaskButton:hover {
    color: #fff;
    padding-top: 130px;
    height: 250px;
    background-repeat: no-repeat;
    font-size: 1.05em;
    width: 175px;
    height: 175px;
}